* {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.first_background {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.359) 20%,
      rgba(0, 0, 0, 1) 80%
    ),
    url(unread.today.zurag1.jpeg);
  background-position-y: 78%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .first_background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, white 0 30%, black 30% 70%);
  opacity: 0.35;
} */
.total_container {
  position: absolute;
  top: 30px;
  width: 80%;
}
.navbar_box1_logo {
  height: 19px;
  width: 135px;
}
.navbar_box1_logo img {
  height: 100%;
  object-fit: contain;
}
.navbar_box1_container span {
  color: rgb(178, 180, 180);
}
.haih_talbar input {
  border: 0;
  background: 0;
}
.navbar_box1_container1 {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_box1 {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.material-symbols-outlined {
  color: gray;
  padding-left: 20px;
}
.navbar_box2_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_box2 p {
  font-size: 1.26rem;
  color: white;
  letter-spacing: 0.015rem;
}
.p_with_capslock {
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 8px;
}
.p_with_border {
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-style: none;
  font-size: 1.26rem;
  letter-spacing: 0.015rem;
}
.navbar_box2_icons section {
  margin-left: 15px;
}
.navbar_box2_icons section a i {
  color: white;
  cursor: pointer;
  opacity: 0.3;
  height: 100%;
  object-fit: contain;
  font-size: 20px;
}
.fa-square-facebook:hover {
  color: rgb(55, 140, 243);
  opacity: 1;
}
.fa-square-instagram:hover {
  color: rgb(242, 102, 203);
  opacity: 1;
}
.fa-square-twitter:hover {
  color: aquamarine;
  opacity: 1;
}
.fa-linkedin:hover {
  color: beige;
  opacity: 1;
}
.navbar_box2_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_box2 {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.total_container navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.haih_talbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px white solid;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.dot_blue {
  width: 8px;
  height: 8px;
  background-color: #0078f6;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.hero > section > article {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero article {
  margin-left: 60px;
}
.hero aside {
  width: 450px;
  height: 450px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.hero > aside img:hover {
  transform: scale(1.1);
}
.hero > aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: all;
}

@keyframes blinker1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blinker {
  animation-name: blinker1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: rgba(56, 182, 255, 0.884);
  font-size: 1.44rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
  font-weight: 700;
}
.hero section article > h1 {
  font-size: 2.6rem;
  line-height: 3.3rem;
  font-weight: 900;
  letter-spacing: 0.09rem;
  color: white;
  /* margin-block-start: 0.67em;
  margin-block-end: 0.67em; */
}
.hero section article h1 span {
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.authors_info aside {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3px;
}
.authors_info aside img {
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
}
.authors_info h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.7rem;
  opacity: 0.5;
  color: #fff;
  margin-bottom: 2px;
}
.authors_info p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.dot_white {
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.authors_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.authors_info > div {
  margin-top: 3px;
  margin-left: 10px;
}
.layouts {
  height: 325px;
  width: 225px;
  background-image: url(container2_layouts1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-with-dotblue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
.p-with-dotblue p {
  font-size: 1rem;
  color: #fff;
  margin-right: 8px;
}
.dot_blue_layouts {
  margin-top: 5px;
}
.view-comments-count p {
  color: rgb(65, 241, 223);
  font-size: 1rem;
  margin-right: 8px;
}
.view-comments-count {
  display: flex;
  flex-direction: row;
}
.layout-con-text > h1 {
  color: black;
  font-size: 1.26rem;
}
.layout-con-text > h2 {
  color: #fff;
  font-size: 1.26rem;
  background-color: ;
}
